.gallery {
    background-image: url('https://github.com/Carbrosmiami/Card-bros-miami/blob/main/98232566d5406f8f738e264a6a765d90_LE_auto_x2_light_ai.jpeg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    position: relative;
}
