body {
    background-image: url('https://github.com/Carbrosmiami/Card-bros-miami/blob/main/98232566d5406f8f738e264a6a765d90_LE_auto_x2_light_ai.jpeg?raw=true');
    background-size: cover; /* Ensures the image covers the whole page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating if the image is small */
    background-attachment: fixed; /* Fixes the background while scrolling */
}
